*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header{
	line-height:80px;
	background-color: rgb(49, 97, 224);
}

a{
	text-decoration: none;
	color:black;
}

.wrapper{
	width:80%;
	margin:0 auto;
	max-width: 1200px;
	text-align: center;
	font-family: 'Whitney', sans-serif;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.float-left{
	float: left;
}

.input-button{
	border:none;
	padding:10px 20px;
	border-radius: 20px;
	background-color:white;
}

.greybg{
	background-color:rgb(235, 235, 235);
}

.light-blue{
	color:white;
	background-color: rgb(141, 161, 247);
}

header div.wrapper #main-logo>img{
	vertical-align: middle;
}

header div.wrapper #main-logo,
header div.wrapper div.input-button{
	width:150px;
}

header div.wrapper nav{
	width:calc(100% - 300px)
}

header div.wrapper nav li{
	list-style: none;
	margin-left:25px;
	display: inline;
}

div.jumbotron{
	height:60vh;
	width:100%;
	position:relative;
	background: url(../img/jumbo.png) center / cover;
}

div.jumbotron-content{
	width:35%;
	height:250px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

div.jumbotron-content h2{
	padding:20px;
	font-size:2.5rem;
}

div.jumbotron-content p{
	font-size: 0.8rem;
	padding-bottom:20px;
}

div.jumbotron-content button.input-button{
	margin-right:10px;
}

.jumbotron-content, 
div.wrapper nav li a, 
.dark-button a{
	color: white;
}

button.dark-button{
	background-color:rgb(34, 34, 34);
}

button.download::before{
	content: "\f309";
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	padding-right:5px;
}

section.item{
	padding:5rem 0;
}

section.item div.wrapper>figure:not(.centered){
	width:70%;
}

section.item  div.wrapper>figure img{
	width:80%;
}

div.wrapper div.item-description{
	padding:2rem 0 0 1rem;
}

div.item-description:not(.centered){
	text-align: left;
	width:30%;
}

div.wrapper div.item-description h2{
	font-size: 3rem;
}

div.wrapper div.item-description p{
	padding:1rem 0 1rem;
	font-size:1.4rem;
}

div.wrapper h5{
	font-size: 1.4rem;
	margin: 20px 0;
}




