*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Whitney', sans-serif;
   font-family: 'Whitney Semibold', sans-serif;
   font-family: 'Whitney Book', sans-serif;
   font-family: 'Whitney Light', sans-serif;
}


header{
	line-height:80px;
	background-color: rgb(49, 97, 224);
}


.wrapper{
	width:90%;
	text-align: center;
	margin:0 auto;
	max-width: 1200px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.float-left{
	float: left;
}

.input-button{
	padding:10px 20px;
	border:none;
	background-color:white;
	border-radius: 20px;
}

header div.wrapper #main-logo>img{
	vertical-align: middle;
}

header div.wrapper #main-logo,
header div.wrapper div.input-button{
	width:150px;
}

header div.wrapper nav{
	width:calc(100% - 300px)
}

header div.wrapper nav li{
	list-style: none;
	margin-left:25px;
	display: inline;
}

header div.wrapper nav li a{
	color:white;
	text-decoration: none;
}

div.jumbotron{
	height:60vh;
	width:100%;
	position:relative;
	background: url(../img/jumbo.png) center / cover;
}

div.jumbotron-content{
	width:35%;
	height:250px;
	position:absolute;
	color:white;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

div.jumbotron-content h2{
	padding:20px;
	font-size:2.5rem;
	color:white;
}

div.jumbotron-content p{
	line-height: 20px;
	font-size: 0.8rem;
	padding-bottom:20px;
}

div.jumbotron-content button.input-button{
	margin-right:10px;
}

button.dark-button{
	color:white;
	background-color:rgb(34, 34, 34);
}

button.download::before{
	content: "\f309";
	font-family:"Font Awesome 5 Free";
	font-weight: 900;
	padding-right:5px;
}

/* section.item{
	padding-top:5rem;
} */

section.item>figure{
	width:70%;
	padding-top:6rem;
}

section.item>figure img{
	width:80%;
}

section.item div.item-description{
	width:30%;
	padding:8rem 0 0 1rem;
	text-align: left;
}

section.item div.item-description h2{
	font-size: 3rem;
}

section.item div.item-description p{
	padding:1rem 0 1rem;
	font-size:1.5rem;
}
